@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap");

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

body {
  background-image: url(assets/day-sky.jpg);
  background-size: cover;
  animation: slideIn 80s infinite alternate forwards;
}

@keyframes slideIn {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0;
    background-size: 2750px;
  }
}
